In [3]:
a=5.10

In [4]:
type(a)

float

In [5]:
a=0

In [6]:
type(a)

int

In [8]:
a=True

In [9]:
type(a)

bool

In [11]:
a=6

In [12]:
b=a

In [13]:
a=10

In [14]:
print(b)

6

In [15]:
_a=10

In [16]:
print(_a)

10

In [17]:
a='True'

In [18]:
type(a)

str

In [19]:
my_age=33.3333
type(my_age)

float

In [20]:
my_age=int(my_age)

In [21]:
type(my_age)

int

In [22]:
print(my_age)

33

In [23]:
myint = '2'+100

TypeError: can only concatenate str (not "int") to str

In [24]:
myint=int('2')+100
myint

102